body {
  background: rgb(0, 212, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 50%,
    rgba(2, 0, 36, 1) 50%
  );
  display: grid;
  grid-template-columns: 1fr;
  grid-row: 1fr 1fr;
  grid-auto-flow: column;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

table {
  place-self: center;
  display: grid;
}

tr {
  font-size: 30px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(10, 6vh);
  place-items: center;
}

td {
  border: 2px solid black;
  border-radius: 10%;
  font-size: 25px;
  height: 3vh;
  width: 2vw;
  display: grid;
  place-content: center;
}

.truebot > tr > td:hover {
  background-color: rgb(196, 196, 196);
}

.truebot:hover {
  cursor:crosshair;
}
  

.falsebot > tr > td:hover {
  cursor:default;
}

.gameboards {
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.truebot,
.truebot > table {
  grid-column: 2;
  background-color: rgb(255, 232, 229);
}

.falsebot {
  grid-column: 1;
  background-color: rgb(231, 255, 239);
}

h2 {
  place-self: center;
}

.mainHeader {
  font-size: 20px;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 1rf;
}

h1.firstHead {
  place-self: end;
  border-left: 3px solid black;
  padding-right: 60px;
}

h1.secondHead {
  grid-column: 2;
  place-self: start;
  color: white;
  border-right: 3px solid white;
  padding-left: 15px;
}


.startButton {
  margin-top: 300px;
  grid-row: 2;
  place-self: center;
  border:none;
  width: 30%;
  height: 50%;
  font-size: 50px;
  background-color: black;
  color: white;
}
.startButton:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}